.singleDay {
    border: 1px solid black;
    width: 98%;
    height: 87.7vh;
    font-size: 1.3em;
}

.eventsFilter {
    font-size: 1em;
}

.dayNumber {
    font-size: 2em;
}

.singleDayNumber {
    font-size: 1.5em;
}