.singleDay {
    border: 1px solid black;
    width: 98%;
    height: 85vh;
    font-size: 1.3em;
    text-align: left;
}

.eventsFilter {
    font-size: 1em;
}

.dayNumber {
    font-size: 2em;
}

.singleDayNumber {
    font-size: 1.5em;
}

.dailyViewWrapper {
    text-align: left;
}