input, select {
    margin-bottom: 2em;
}

.formHeader h2{
    margin: 0 0 1em 0;
    font-family: 'Nunito', sans-serif;
    padding-top: 0.5em;
}

form {
    font-family: 'Nunito Sans', sans-serif;
}

.addEditEvent {
    min-height: 100vh;
    margin: 0 0 0 1em;
}

.formButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2em 0.5em 0 0;
    border: solid 1px transparent;
    border-radius: 6px;
    padding: 0.4em 0.9em 0.4em 0.9em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #2B4D80;
    color: white;
    font-size: 0.9em;
}

.formButton:hover {
    color: #2B4D80;
    border: solid 1px #2B4D80;
    background-color: white;
}

label {
    font-weight: 400;
}

.titleLabel {
    margin: 0 4.1em 0 0;
}

.locLabel {
    margin-right: 2.2em;
}

.startLabel {
    margin-right: 3.8em;
}

.endLabel {
    margin-right: 4.3em;
}

.descripLabel{
    height: 100% !important;
    float: left;
    padding-top: 2em;
    margin-right: 1em;
}

textarea {
    margin-top: 1em;
    resize: none;
    width: 15%;
    height: 10em;
}