.homePage {
    text-align: center;
    height: 100vh;
}

.homePageHeader h1 {
    margin: 0;
    font-size: 3em;
}

.homePageHeader h2 {
    font-size: 2em;
}

.homePageHeader {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 3em;
}

.homePageMain {
    font-family: 'Nunito Sans', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
}

.textWrapper {
    text-align: left;
    margin-bottom: 2.5em;
}

.homeButton {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    margin-left: auto;
}

@media only screen and (max-width: 525px) {
    .homePageHeader h1 {
        margin: 0;
        font-size: 2.57em;
    }
    
    .homePageHeader h2 {
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 485px) {
    .homePageMain {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 320px) {
    .homePageHeader h1 {
        margin: 0;
        font-size: 2.2em;
    }
    
    .homePageHeader h2 {
        font-size: 1.4em;
    }

    .homePageMain {
        font-size: 1em;
    }
}