* {
    box-sizing: border-box;
}

.monthDays {
    display: block;
}

.day {
    display: inline-block;
    vertical-align: top;
    width: calc(.14 * 80vw);
}

.calendarDay, .emptyDay {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    width: calc(.14 * 80vw);
    height: calc(.14 * 106.5vh);
    color: black;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: auto;

}