* {
    box-sizing: border-box;
}

.monthDays {
    display: block;
}

.calendarDay, .emptyDay, .day {
    display: inline-block;
    width: calc(.14 * 80vw); 
    vertical-align: top;
}

.calendarDay, .emptyDay {
    border: 1px solid #2B4162;
    width: calc(.14 * 80vw);
    height: calc(.14 * 80vw);
    color: #2B4162;
    font-weight: 500;
}