.weekCalendarDays {
    display: inline-block;
    width: calc(.14 * 80vw); 
    height: 85vh;
    vertical-align: top;
    border: 1px solid black;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: auto;
}

.weekdayNumber {
    font-size: 1.3em;
}