button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wholeApp {
  background-color: #AAAAAA;
}

.backgroundImage {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  opacity: .2;
}

img {
  position: fixed;
  z-index: 0;
  width: auto;
  height: 100;
  opacity: .2;
}

.appContent {
  position: relative;
  z-index: 1;
}