.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

.selectBox {
    margin: 1em 0 0 2em;
    background-color: #2B4D80;
    border-color: transparent;
    color: white;
    padding: 0.8em;
    width: 9em;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 6px;
}

.viewSelect::after {
    content: '\25BC';
    padding: 0 1em;
    position: absolute;
    top: 24px;
    left: 97px;
    background: #2B4D80;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    pointer-events: none;
}

.title {
    font-size: 2em;
    font-weight: 500;
    margin: 0.2em 0 0 2em;
    color: black;
}

.navLinks {
    cursor: pointer;
    margin: 1em 2em 0 0;
    font-weight: 500;
}

.navLinks:visited {
    text-decoration: none;
}

.navLinks:hover {
    transform: translateY(1px);
}

a {
    color: #FFAD0A;
}

.loginLink, .regLink {
    margin-right: 1em;
}

.logoutLink {
    color: #FFAD0A;
}
