.event {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.event span {
    font-weight: bold;
}

.eventTitle {
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0.3em;
    border: none;
    border-radius: 0.4em;
    background-color: #5498FF;
    color: #E9F1F7;
}

.eventTitle:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.eventTitle:hover {
    cursor: pointer;
}

