.event {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.event span {
    font-weight: bold;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    padding: 0 0.5em 0 0.5em;
    margin-bottom: 0.3em;
    border: none;
    border-radius: 0.4em;
    background-color: #2B4D80;
    color: #E9F1F7;
    opacity: 90%;
}

.listItem:hover {
    cursor: pointer;
}

.eventTitle {
    margin: auto 0 auto 0;
}

.eventTitle:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.eventTimes {
    font-size: 0.9em;
}
