.cellEvent {
    background-color: #031D44;
    color: #E9F1F7;
    font-family: 'Nunito Sans', sans-serif;
    border: solid 1px transparent;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    padding-left: 0.5em;
}

.cellEvent:hover {
    cursor: pointer;
}