.cellEvent {
    background-color: #2B4D80;
    color: #E9F1F7;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    border: solid 1px transparent;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    padding-left: 0.5em;
    opacity: .9;
    text-align: left;
}

.cellEvent:hover {
    cursor: pointer;
}

.eventsFilter {
    font-size: 1em;
}

@media only screen and (max-width: 1055px) {
    .eventsFilter {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 550px) {
    .eventsFilter {
        font-size: 0.7em;
    }
    
    .monthDayNumber {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 456px) {
    .eventsFilter {
        font-size: 0.55em;
    }
}

@media only screen and (max-width: 365px) {
    .eventsFilter {
        font-size: 0.4em;
    }

    .monthDayNumber {
        font-size: 0.7em;
    }
}